body {
	margin: 0;
	padding: 0;
	font-family: helvetica, tahoma, arial, sans-serif;
	font-size: 12px;
}

a, a:visited {
	color: #FFF;
	background-color: #111;
	text-decoration: none;
	padding: 5px;
	border-radius: 6px;
}

a:hover, a:active {
	color: #9F3;
	background-color: #444;
}

ul {
	list-style: none;
	padding: 0;
	padding-bottom: 5px;
	margin-top: -15px;
	background-color: #111;
	border-radius: 0px 0px 6px 6px;
}

li {
	padding: 5px;
	background-color: #111;
	color: #FFF;
}

select {
	margin: 0;
	padding: 0;
	outline: 0;
}

option {
	outline: 0;
}

#wrapper {
	width: 50%;
	margin: auto;
	padding-top: 50px;
}

#player_area {
	padding-top: 5px;
	background-color: #444;
	border-radius: 2px 2px;
}

#player {
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline;
}

.current_div {
	height: 35px;
	margin-top: -5px;
	background-color: #111;
	padding: 5px;
	padding-bottom: 1px;
	text-align: center;
}

.current_div input {
	border: 1px solid #111;
	background-color: #333;
	color: #FFF;
	padding: 0px 5px 1px 5px;
	border-radius: 6px;
	outline: 0;
	height: 30px;
}

.current_div select {
	border: 1px solid #111;
	background-color: #222;
	color: #FFF;
	padding: 5px;
	border-radius: 6px;
	outline: 0;
	height: 27px;
}

.current_div select:hover {
	background-color: #555;
	color: #9F3;
}

.current_div input:hover {
	background-color: #555;
	color: #9F3;
}

#current_song {
	width: 65%;
	color: #9F3;
	padding-right: 10px;
}

#new_song_form {
	padding: 5px;
	background-color: #111;
	color: #FFF;
	border-radius: 6px;
}

#new_song_form input {
	border: 1px solid #111;
	background-color: #333;
	color: #FFF;
	border-radius: 6px;
	outline: 0;
	height: 20px;
}

#new_song_form input:hover {
	background-color: #555;
	color: #9F3;
}